*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
.Agri_Tech_Yolo/
__pycache__/
*.pyc
.env
.venv/
env/
venv/
*.pt
.vscode/
build/
dist/